<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title><%=htmlWebpackPlugin.options.title%></title>

</head>
<body>
<div id="app">{{body}}</div>
<script>window.__INITIAL_STATE__={{initialState}}</script>
</body>
</html>