@charset "UTF-8";
.wrap .header .top-wrap .top, .wrap .header .top-wrap .top .mybook, .wrap .header .top-wrap .nav, .wrap .header .top-wrap .nav .nav-list {
    display: flex;
    align-items: center;
}

.wrap .header .top-wrap, .wrap .main, .wrap .footer .footer-inner {
    width: 1024px;
    margin: 0 auto;
}

.wrap .header {
    box-shadow: 5px 5px 5px #eee;
}

.container .container-inner .channelName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.btn, .btn-select {
    display: inline-block;
    padding: 6px 30px;
    border-radius: 3px;
    border: 1px solid #ff3955;
    background: #FFF;
    color: #ff3955;
    text-decoration: none;
    font-size: 13px;
}

@font-face {
    font-family: 'iconfont';
    /* project id 326957 */
    src: url("../fonts/iconfont.eot");
    src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td,em {
    padding: 0;
    margin: 0;
    font-family:iconfont, PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: ”;
}

abbr, acronym {
    border: 0;
}

ul {
    list-style: none;
}

.clearfix {
    clear: both;
}

.wrap {
    background: #f5f5f5;
}

.wrap .header {
    width: 100%;
    height: 150px;
    background: #FFF;
}

.wrap .header .top-wrap .top {
    height: 86px;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
}

.wrap .header .top-wrap .top .logo {
    background: url("../../assets/images/logo.png") no-repeat;
    width: 143px;
    height: 31px;
    background-size: 100% 100%;
}

.wrap .header .top-wrap .top .logo > a {
    height: 100%;
    width: 100%;
}

.wrap .header .top-wrap .top .search {
    font-family: 'iconfont';
    position: relative;
    margin-right: 45px;
}

.wrap .header .top-wrap .top .search input {
    border: 2.5px solid #ff3955;
    padding: 8px;
    width: 380px;
    border-radius: 8px;
    outline: none;
}

.wrap .header .top-wrap .top .search .search-bar {
    position: absolute;
    right: 0px;
    font-size: 22px;
    top: 0px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 55px;
    cursor: pointer;
}

.wrap .header .top-wrap .top .mybook {
    font-size: 14px;
}

.wrap .header .top-wrap .top .mybook .books::before {
    font-size: 22px;
    color: #ff3955;
    content: "\e742";
    margin-right: 8px;
}

.wrap .header .top-wrap .top .mybook .photo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    margin-left: 10px;
}

.wrap .header .top-wrap .nav {
    justify-content: space-between;
    position: relative;
}

.wrap .header .top-wrap .nav .nav-list {
    height: 64px;
}

.wrap .header .top-wrap .nav .nav-list .active {
    position: relative;
}

.wrap .header .top-wrap .nav .nav-list .active::after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -17px;
    background: red;
    display: block;
}

.wrap .header .top-wrap .nav .nav-list li {
    margin-right: 50px;
}

.wrap .header .top-wrap .nav .nav-list li em {
    font-size: 22px;
    position: relative;
    top: 2px;
    color: #ff3955;
    display: inline-block;
    margin-right: -5px;
}

.wrap .header .top-wrap .nav .nav-list li a {
    font-size: 16px;
    color: #1a1a1a;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.wrap .header .top-wrap .nav .nav-list li a:hover {
    color: #ff3955 !important;
}

.wrap .header .top-wrap .nav .flow-nav {
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 3;
    background: #000;
    padding: 10px 0;
    display: none;
}

.wrap .header .top-wrap .nav .flow-nav::before {
    content: '';
    background: #000;
    transform: rotate(45deg);
    height: 20px;
    width: 20px;
    position: absolute;
    top: -2px;
    left: 33%;
    z-index: -1;
}

.wrap .header .top-wrap .nav .flow-nav li {
    padding: 2px 15px;
}

.wrap .header .top-wrap .nav .flow-nav li:hover {
    background: #ff3955;
}

.wrap .header .top-wrap .nav .flow-nav li::before {
    content: '\e635';
    color: #666;
    font-size: 18px;
}

.wrap .header .top-wrap .nav .flow-nav a {
    color: #666;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}

.wrap .header .top-wrap .nav .nav-right a {
    font-size: 14px;
    margin-left: 50px;
    color: #1a1a1a;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.wrap .header .top-wrap .nav .nav-right a:hover {
    color: #ff3955 !important;
}

.wrap .header .top-wrap .nav .nav-right a:nth-child(1)::before {
    content: '\e635';
    font-size: 20px;
    margin-right: 4px;
}

.wrap .header .top-wrap .nav .nav-right a::before {
    content: '\e618';
    color: #ff3955;
    font-size: 22px;
}

.wrap .main {
    overflow: auto;
}

.wrap .main .main-inner {
    overflow: auto;
    margin: 12px 0 8px;
}

.wrap .main .main-inner .block {
    background: #FFF;
    height: 100px;
    margin-bottom: 20px;
}

.wrap .footer {
    margin: 12px 0 15px;
    overflow: hidden;
}

.wrap .footer .footer-inner {
    text-align: center;
}

.wrap .footer .footer-inner .web-list {
    overflow: hidden;
    font-size: 12px;
}

.wrap .footer .footer-inner .web-list span {
    display: inline-block;
    float: left;
}

.wrap .footer .footer-inner .web-list div {
    float: right;
    width: 90%;
}

.wrap .footer .footer-inner .web-list div a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    margin: 0 12px 10px 3px;
    display: inline-block;
}

.wrap .footer .footer-inner .web-list div a:hover {
    color: #ff3955 !important;
}

.wrap .footer .footer-inner .about-us {
    margin: 0px 0 0;
}

.wrap .footer .footer-inner .about-us a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    color: #666;
    margin: 0 12px 10px 3px;
}

.wrap .footer .footer-inner .about-us a:hover {
    color: #ff3955 !important;
}

.wrap .footer .footer-inner .copyright {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin: 10px auto 20px;
    overflow: hidden;
}

.btn:hover {
    background: #ffeaed;
}

.btn-select {
    background: #ff3955;
    color: #FFF;
}

.small-btn {
    padding: 0 2px;
    color: #ffa100;
    border: 1px solid #ffa100;
    font-size: 12px;
    margin-left:4px;
}

.btn-red {
    color: #ff3955;
    border: 1px solid #ff3955;
    font-size: 12px;
}

.btn-blue {
    color: #4284ed;
    border: 1px solid #4284ed;
    font-size: 12px;
}


.container {
    background: #FFF;
    height: 265px;
    margin-bottom: 20px;
    height: auto;
    overflow: hidden;
}

.container .container-inner {
    margin: 24px 0px 15px 25px;
    overflow: hidden;
}



