.limit-free {
    background: #FFF;
    height: 220px;
    margin-bottom: 20px
}

.limit-free .limit-free-list {
    text-align: center
}

.limit-free .limit-free-list li {
    width: 20%;
    height: 220px;
    border-left: 1px solid #f1f1f1;
    margin-right: -1px;
    border-bottom: 0;
    float: left
}

.limit-free .limit-free-list li:nth-child(1) {
    width: 19.7%
}

.limit-free .limit-free-list li .free-item-first {
    margin: 25px auto;
    width: 150px;
    font-size: 14px;
    color: #ff3955
}

.limit-free .limit-free-list li .free-item-first h3 {
    font-size: 17px;
    font-weight: bold
}

.limit-free .limit-free-list li .free-item-first p {
    font-size: 12px;
    margin: 5px 0
}

.limit-free .limit-free-list li .free-item-first em {
    display: block;
    margin: 6px 0 10px;
    font-size: 16px
}

.limit-free .limit-free-list li .free-item-first a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    color: #2972cc
}

.limit-free .limit-free-list li .free-item-first a:hover {
    color: #ff3955 !important
}

.limit-free .limit-free-list li .free-item-first a:hover {
    color: #2972cc
}

.limit-free .limit-free-list li .free-item-first .clock {
    width: 70px;
    height: 70px;
    margin: 0 auto
}

.limit-free .limit-free-list li .free-item-first .clock img {
    height: 100%;
    width: 100%
}

.limit-free .limit-free-list .free-item {
    transition: all .5s;
    position: relative;
    z-index: 1
}

.limit-free .limit-free-list .free-item:hover {
    box-shadow: 0px 5px 16px #ccc;
    z-index: 3
}

.limit-free .limit-free-list .free-item .free-item-inner {
    margin: 28px 0
}

.limit-free .limit-free-list .free-item .free-item-inner .div-img {
    height: 90px;
    width: 70px;
    margin: 0 auto
}

.limit-free .limit-free-list .free-item .free-item-inner p a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0 0;
    display: inline-block
}

.limit-free .limit-free-list .free-item .free-item-inner p a:hover {
    color: #ff3955 !important
}

.limit-free .limit-free-list .free-item .free-item-inner p del {
    font-size: 12px;
    color: #ccc;
    margin: 5px 0;
    display: inline-block
}