.side-item {
    margin-bottom: 15px;
    width: 50%;
    float: left;
}

.side-item .odd {
    margin-left: 5px !important;
}

.side-item .side-item-inner {
    margin-left: 20px;
    font-size: 12px;
}

.side-item .side-item-inner .side-item-content {
    float: left;
    width: 228px;
    padding-left: 16px;
    color: #999;
}

.side-item .side-item-inner .side-item-content h4 {
    font-size: 16px;
    color: #000;
}

.side-item .side-item-inner .side-item-content span {
    margin: 9px 0;
    display: inline-block;
}

.side-item .side-item-inner .side-item-content p {
    margin-top: 7px;
}

.side-item .side-item-inner .side-item-pic {
    float: left;
}